E题数据/
work/
outputs/*
!outputs/question1/
!outputs/question1/**
!outputs/question2/
!outputs/question2/**/
outputs/question2/**/*.pt
outputs/question2/**/*.pth
outputs/question2/**/*.bin
outputs/question2/**/*.pkl
outputs/question2/**/*.tiff
__pycache__/
*.py[cod]
.env
.venv/
models/
